**MARKDOWN Basics**<br>
       * Bold...>** data **<br>
       * Italic...> * data *<br>
       * bold and italic....>*** data ***<br>
       * *space is for moving given formate
       * <br> is for break line<br>
       
       
       
** order **
**give two line  above spaces for starting new order list**
        1. element1
        2. element2
        
[jupyter logo](juy.png)<br>**this is for image adding**
![jupyter logo](juy.png)<br>**this is for image displaying**


- [ ] option1
- [ ] option2

** for line parlell   
> 1. satheesh
> 2. rajesh

# Python Basics......
## python version 3.7
- scripting language

In [1]:
#comments
print("Hai satheesh")

Hai satheesh

In [4]:
print("hai", end=" ")
print("satheesh")

hai satheesh

In [8]:
a=2.1
b=2.1
type(a)
type(b)
print(id(a))
print(id(b))

1669389145384
1669389145216

## arthimetic
- +
- -

In [9]:
n1=333
n1%11

3

In [14]:
print(type(n1))


a=20
b=30
a=a%2

<class 'int'>

In [15]:
print(a)

0

In [20]:
a=10**20
print(a)

100000000000000000000

In [19]:
b**2
print(b)
print(type(b))

30
<class 'int'>

In [21]:
if 30 < 40:
    print("True")
else:
    print("False")

True

In [22]:
a=111
if a%2==0:
    print("even")
else:
    print("odd")

odd

In [1]:
n1=int(input("enter n1"))
n2=int(input("enter n2"))
n3=int(input("enter n3"))
if n1>n2 and n1>n3:
    print("n1 is great")
elif n2>n2:
    print("n2 is bigger")
else:
    print("n3 big")

enter n11
enter n22
enter n33
n3 big

In [2]:
n1=int(input("enter n1"))
n2=int(input("enter n2"))
n2=int(input("enter n3"))
if n1>n2 and n1>n3:
    print("n1 is great")
elif n2>n2:
    print("n2 is bigger")
else:
    print("n3 big")

enter n11
enter n22
enter n33
n3 big

In [9]:
n=int(input("enter year"))
if (n%4==0) or (n%400==0 and n%100!=0):
    print("it is leap")
else:
    print("not leap")

enter year2005
not leap

In [13]:
n=int(input("enter no"))
a=int(input("enter a"))
b=int(input("enter b"))
if n in range(a,b):
    print("yes")
else:
    print("no")

enter no4
enter a1
enter b6
yes

In [21]:
#number of digits
n=input("enter no")
c=0
for i in n:
    if i.isdigit():
        c=c+1
print(c)

enter no2w2
2

In [32]:
#multiple of 10
n=int(input("enter no"))
for i in range (1,11):
    print(n,"*",i,n*i)

enter no10
10 * 1 10
10 * 2 20
10 * 3 30
10 * 4 40
10 * 5 50
10 * 6 60
10 * 7 70
10 * 8 80
10 * 9 90
10 * 10 100

In [37]:
#factor of 1000
n=int(input("enter no"))
if 1000%n==0:
    print("yes it is factor")
else:
    print("not factor")

enter no2
yes it is factor

In [40]:
#multiple of 10
n=int(input("enter no"))
if 10%n==0:
    print("yes multipl 10")
else:
    print("not multiple 10")

enter no2
yes multipl 10

In [41]:
n=10
n**0.5

3.1622776601683795

In [44]:
m=input("enter string")
n=int(input("enter no"))
if m==str(n):
    print("equal string and no")
else:
    print("not equal")

enter string123
enter no123
equal string and no